body{
    background-color: rgb(217, 46, 212);
    font-family: 'Times New Roman', Times, serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.containerInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}


label{
    display: block;
}

.form-group{
    width: 200px;
    margin-bottom: 10px;
}

.form-group>input{
    width: 100%;
    border-radius: 10px;
    border-width: 0;
    padding: 6px;
    margin-top: 6px;
}

.labelHeader{
    font-weight: bold;
    color: rgb(0, 16, 57);
}

button{
    background-color: rgb(43, 40, 212);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}